html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #3a3a3a;
  background-image: url(img/pexels-chevanon-photography-1108099.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h2  {
  color: white;
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}
h3 {
  color: rgb(207, 207, 207);
  font-weight: 400;
  font-size: 4rem;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.button-success {
  border: none;
  background-color: #27ae60;
  color: rgb(248, 248, 248);
}

.button-success:hover {
  color: white;
  background-color: rgb(19, 219, 96);
}

.cita {
  padding: 2rem;
  background: white;
  border-bottom: 2px solid #8b8b8b;
  color: black;
}

.cita p {
  font-weight: 600;
  margin-bottom: .8rem;
  color: #555555;
}
.cita p span {
  font-weight: normal;

}
.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: rgb(253, 72, 72);
  color: white;
  padding: 1rem;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
} 